h1{
    color:red;
    background-color: chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h6{
    color: blue;
    background-color: yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{background-color:red;
border: solid 8px black;
height: 100px;
width: 100px;
scale: 1;
}
